flask==1.1.1
six==1.10.0
healthcheck==1.3.3
gunicorn==19.9.0
requests==2.22.0
nltk==3.4.5
# tf is installed by a base image of docker 
# tensorflow==1.15.2
# deeppavlov and deeppavlov models
deeppavlov==0.11.0
rapidfuzz==0.7.6
pybind11==2.2.4
hdt==2.3
sortedcontainers==2.1.0
git+https://github.com/deepmipt/bert.git@feat/multi_gpu
